<div class="row">
	<div class="col-xs-6 col-xs-offset-3">
		<% obj.each do |article| %>
			<div class="well well-lg">
				<div class="container-article">
					<div class="container-article-body">
						<div class="container-article-body-text">
							<%= link_to article.title, article_path(article) %>
							&nbsp;
							<%= truncate(article.description, length: 40) %>
						</div>
						<div class="container-article-body-details">
							<small> Author: <%= article.user.username if article.user %> | Created: <%= time_ago_in_words(article.created_at).gsub('about','') %> ago | Updated: <%= time_ago_in_words(article.updated_at).gsub('about','') %> ago </small>
						</div>
						<% if article.categories.any? %>
							<div class="container-article-body-categories">
								<small>
									Categories: <%= render article.categories %>
								</small>
							</div>
						<% end %>
					</div>
					<% if logged_in? && (current_user == article.user || current_user.admin?) %>
						<div class="container-article-btns">
							<%= link_to "Edit", edit_article_path(article), class: "btn btn-xs btn-primary" %>
							&nbsp;
							<%= link_to "Delete", article_path(article), method: :delete,
								data: { confirm: "Are you sure you want to delete this article?"},
								class: "btn btn-xs btn-danger" %>
						</div>
					<% end %>
				</div>
			</div>
		<% end %>
	</div>
</div>
